@tailwind base;
@tailwind components;
@tailwind utilities;


td {
    color: #030229;
    background: #ffff;
    font-weight: 400;
}

th{
    color: #4f4f58;
    font-weight: 350;
}


@layer base {

    .text-sidebar {
        color: #9a9aa9;
    }

}


@layer components {

    .btn {
        @apply rounded-lg p-3 text-lg shadow-lg 
    }

    .btn--primary {
        @apply text-white bg-[#605BFF] hover:bg-indigo-600 transition-all duration-300;
    }
    .input--style {
       @apply bg-gray-100  rounded-lg focus:shadow-md focus:ring-1 focus:ring-[#605BFF] focus:outline-none block w-full p-3
    }

    .link--style {
       @apply text-[#605BFF] hover:underline p-2 mt-3
    }
}